@page "/Event/Component/List"
<Amis Data="GetObj()"></Amis>

@code {

    private object GetObj()
    {
        var data = new
        {
            type = "page",
            title = "列表类组件事件",
            regions = new object[] { "body", "toolbar", "header" },
            body = new object[]
            {
                new
                {
                    type = "flex",
                    direction = "row",
                    justify = "flex-start",
                    items = new object[]
                    {
                        new
                        {
                            type = "html",
                            html = "<h2>List组件单行点击事件 - itemClick</h2>",
                            className = "mr-4"
                        },
                        new
                        {
                            type = "tag",
                            label = "2.4.0",
                            closable = false
                        }
                    }
                },
                new
                {
                    type = "service",
                    api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/mock2/sample?perPage=5",
                    body = new object[]
                    {
                        new
                        {
                            type = "panel",
                            title = "",
                            body = new
                            {
                                type = "list",
                                source = "$rows",
                                listItem = new
                                {
                                    body = new object[]
                                    {
                                        new
                                        {
                                            type = "hbox",
                                            columns = new object[]
                                            {
                                                new
                                                {
                                                    label = "Engine",
                                                    name = "engine"
                                                },
                                                new
                                                {
                                                    name = "version",
                                                    label = "Version"
                                                }
                                            }
                                        }
                                    },
                                    actions = new object[]
                                    {
                                        new
                                        {
                                            type = "button",
                                            level = "link",
                                            label = "查看详情",
                                            actionType = "dialog",
                                            dialog = new
                                            {
                                                title = "查看详情",
                                                body = new
                                                {
                                                    type = "form",
                                                    body = new object[]
                                                    {
                                                        new
                                                        {
                                                            label = "Engine",
                                                            name = "engine",
                                                            type = "static"
                                                        },
                                                        new
                                                        {
                                                            name = "version",
                                                            label = "Version",
                                                            type = "static"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                onEvent = new
                                {
                                    itemClick = new
                                    {
                                        actions = new object[]
                                        {
                                            new
                                            {
                                                actionType = "dialog",
                                                dialog = new
                                                {
                                                    title = "Event触发的Dialog",
                                                    closeOnEsc = true,
                                                    body = "当前行的数据engine: ${item.data.engine}, version: ${item.data.version}"
                                                }
                                            },
                                            new
                                            {
                                                actionType = "custom",
                                                script = "console.log('点击行的索引值', event.data.item.index)"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        };
        return data;
    }

}
