@using System.Text.Json
<div id="@_id" class="app-wrapper"></div>

@code {
    [Inject] public IJSRuntime Js { get; set; }
    [Parameter] public object Data { get; set; }
    private string _id = "amis-" + Guid.NewGuid().ToString("N");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var json = JsonSerializer.Serialize(Data);
            await Js.InvokeAsync<string>("amisLoad", _id, json);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}
