<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="BlazorAmis.styles.css"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>

    <link rel="stylesheet" href="sdk/sdk.css"/>
    <link rel="stylesheet" href="sdk/helper.css"/>
    <link rel="stylesheet" href="sdk/iconfont.css"/>

    <HeadOutlet/>
</head>

<body >
<Routes @rendermode="InteractiveServer"/>

<script src="_framework/blazor.web.js"></script>
<script src="sdk/sdk.js"></script>
<script type="text/javascript">
     amisLoad=(id,json) =>{
         const obj = JSON.parse(json);
         let amis=amisRequire("amis/embed");
         let amisScoped = amis.embed("#"+id, obj);
     };
</script>
</body>

</html>
