@page "/CRUD/LoadMore"
<PageTitle>加载更多模式</PageTitle>
<Amis Data="GetObj()"></Amis>

@code {

    private object GetObj()
    {
        var data = new
        {
            title = "增删改查示例",
            remark = "bla bla bla",
            body = new
            {
                type = "crud",
                api = "/api/mock/Sample/Sample",
                mode = "list",
                draggable = true,
                saveOrderApi = new
                {
                    url = "/api/mock/Sample/Sample/SaveOrder"
                },
                orderField = "weight",
                filter = new
                {
                    title = "条件搜索",
                    submitText = "",
                    body = new object[]
                    {
                        new
                        {
                            type = "input-text",
                            name = "keywords",
                            placeholder = "通过关键字搜索",
                            addOn = new
                            {
                                label = "搜索",
                                type = "submit"
                            }
                        },
                        new
                        {
                            type = "plain",
                            text = "这只是个示例, 目前搜索对查询结果无效."
                        }
                    }
                },
                bulkActions = new object[]
                {
                    new
                    {
                        label = "批量删除",
                        actionType = "ajax",
                        api = "delete:/api/mock/Sample/Sample/${ids|raw}",
                        confirmText = "确定要批量删除?",
                        type = "button",
                        level = "danger"
                    },
                    new
                    {
                        label = "批量修改",
                        actionType = "dialog",
                        level = "info",
                        type = "button",
                        dialog = new
                        {
                            title = "批量编辑",
                            body = new
                            {
                                type = "form",
                                api = "post:/api/mock/Sample/Sample/BulkUpdate",
                                body = new object[]
                                {
                                    new { type = "hidden", name = "ids" },
                                    new
                                    {
                                        type = "input-text",
                                        name = "engine",
                                        label = "Engine"
                                    }
                                }
                            }
                        }
                    }
                },
                quickSaveApi = "/api/mock/Sample/Sample/BulkUpdate",
                quickSaveItemApi = "/api/mock/Sample/Sample/$id",
                headerToolbar = new object[] { "bulkActions" },
                footerToolbar = new object[] { "load-more" },
                listItem = new
                {
                    actions = new object[]
                    {
                        new
                        {
                            type = "button",
                            icon = "fa fa-eye",
                            actionType = "dialog",
                            dialog = new
                            {
                                title = "查看",
                                body = new
                                {
                                    type = "form",
                                    body = new object[]
                                    {
                                        new
                                        {
                                            type = "static",
                                            name = "engine",
                                            label = "Engine"
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "static",
                                            name = "browser",
                                            label = "Browser"
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "static",
                                            name = "platform",
                                            label = "Platform(s)"
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "static",
                                            name = "version",
                                            label = "Engine version"
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "static",
                                            name = "grade",
                                            label = "CSS grade"
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "html",
                                            html = "<p>添加其他 <span>Html 片段</span> 需要支持变量替换（todo）.</p>"
                                        }
                                    }
                                }
                            }
                        },
                        new
                        {
                            type = "button",
                            icon = "fa fa-pencil",
                            actionType = "dialog",
                            dialog = new
                            {
                                title = "编辑",
                                body = new
                                {
                                    type = "form",
                                    name = "sample-edit-form",
                                    api = "/api/mock/Sample/Sample/$id",
                                    body = new object[]
                                    {
                                        new
                                        {
                                            type = "input-text",
                                            name = "engine",
                                            label = "Engine",
                                            required = true
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "input-text",
                                            name = "browser",
                                            label = "Browser",
                                            required = true
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "input-text",
                                            name = "platform",
                                            label = "Platform(s)",
                                            required = true
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "input-text",
                                            name = "version",
                                            label = "Engine version"
                                        },
                                        new
                                        {
                                            type = "divider"
                                        },
                                        new
                                        {
                                            type = "input-text",
                                            name = "grade",
                                            label = "CSS grade"
                                        }
                                    }
                                }
                            }
                        },
                        new
                        {
                            type = "button",
                            icon = "fa fa-times text-danger",
                            actionType = "ajax",
                            confirmText = "您确认要删除?",
                            api = "delete:/api/mock/Sample/Sample/$id"
                        }
                    },
                    body = new object[]
                    {
                        new
                        {
                            name = "engine",
                            label = "Rendering engine",
                            sortable = true,
                            quickEdit = true,
                            labelClassName = "w-sm pull-left text-muted"
                        },
                        new
                        {
                            type = "hbox",
                            columns = new object[]
                            {
                                new
                                {
                                    name = "browser",
                                    label = "Browser",
                                    labelClassName = "w-sm pull-left text-muted"
                                },
                                new
                                {
                                    name = "platform",
                                    label = "Platform(s)",
                                    labelClassName = "w-sm pull-left text-muted"
                                }
                            }
                        },
                        new
                        {
                            name = "version",
                            label = "Engine version",
                            labelClassName = "w-sm pull-left text-muted"
                        }
                    }
                }
            }
        };
        return data;
    }

}
