@page "/CRUD/LoadOnce"
<PageTitle>前端一次性加载</PageTitle>
<Amis Data="GetObj()"></Amis>

@code {

    private object GetObj()
    {
        var data = new
        {
            title = "一次性加载，前端分页，前端排序",
            body = new
            {
                type = "crud",
                syncLocation=false,
                loadDataOnce = true,
                api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample?waitSeconds=1&loadDataOnce=1",
                filter = new
                {
                    title = "条件搜索",
                    submitText = "",
                    body = new object[]
                    {
                        new
                        {
                            type = "input-text",
                            name = "keywords",
                            placeholder = "通过关键字搜索",
                            addOn = new
                            {
                                label = "搜索",
                                type = "submit"
                            }
                        }
                    }
                },
                columns = new object[]
                {
                    new
                    {
                        name = "id",
                        label = "ID",
                        sortable = true,
                        type = "text",
                        toggled = true,
                        remark = "Bla bla Bla"
                    },
                    new
                    {
                        name = "engine",
                        label = "Rendering engine",
                        sortable = true,
                        type = "text",
                        toggled = true
                    },
                    new
                    {
                        name = "browser",
                        label = "Browser",
                        sortable = true,
                        type = "text",
                        toggled = false
                    },
                    new
                    {
                        name = "platform",
                        label = "Platform(s)",
                        sortable = true,
                        type = "text",
                        toggled = true
                    },
                    new
                    {
                        name = "version",
                        label = "Engine version",
                        type = "text",
                        toggled = true
                    },
                    new
                    {
                        name = "grade",
                        label = "CSS grade",
                        type = "text",
                        toggled = true
                    },
                    new
                    {
                        type = "operation",
                        label = "操作",
                        width = 100,
                        buttons = new object[]
                        {
                            new
                            {
                                type = "button",
                                icon = "fa fa-eye",
                                actionType = "dialog",
                                tooltip = "查看",
                                dialog = new
                                {
                                    title = "查看",
                                    body = new
                                    {
                                        type = "form",
                                        body = new object[]
                                        {
                                            new
                                            {
                                                type = "static",
                                                name = "engine",
                                                label = "Engine"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "browser",
                                                label = "Browser"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "platform",
                                                label = "Platform(s)"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "version",
                                                label = "Engine version"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "grade",
                                                label = "CSS grade"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "html",
                                                html = "<p>添加其他 <span>Html 片段</span> 需要支持变量替换（todo）.</p>"
                                            }
                                        }
                                    }
                                }
                            },
                            new
                            {
                                type = "button",
                                icon = "fa fa-pencil",
                                tooltip = "编辑",
                                actionType = "drawer",
                                drawer = new
                                {
                                    position = "left",
                                    size = "lg",
                                    title = "编辑",
                                    body = new
                                    {
                                        type = "form",
                                        name = "sample-edit-form",
                                        api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id",
                                        body = new object[]
                                        {
                                            new
                                            {
                                                type = "input-text",
                                                name = "engine",
                                                label = "Engine",
                                                required = true
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "input-text",
                                                name = "browser",
                                                label = "Browser",
                                                required = true
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "input-text",
                                                name = "platform",
                                                label = "Platform(s)",
                                                required = true
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "input-text",
                                                name = "version",
                                                label = "Engine version"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "select",
                                                name = "grade",
                                                label = "CSS grade",
                                                options = new string[] { "A", "B", "C", "D", "X" }
                                            }
                                        }
                                    }
                                }
                            },
                            new
                            {
                                type = "button",
                                icon = "fa fa-times text-danger",
                                actionType = "ajax",
                                tooltip = "删除",
                                confirmText = "您确认要删除?",
                                api = "delete:https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id"
                            }
                        },
                        toggled = true
                    }
                }
            }
        };
        return data;
    }

}
