@page "/CRUD/TableAutoFill"
<PageTitle>表格高度自适应</PageTitle>
<Amis Data="GetObj()"></Amis>

@code {

    private object GetObj()
    {
        var data = new
        {
            title = "表格内容区域自适应屏幕高度，内容超出时在内容区出现滚动条",
            remark = "bla bla bla",
            toolbar = new object[]
            {
                new
                {
                    type = "button",
                    actionType = "dialog",
                    label = "新增",
                    icon = "fa fa-plus pull-left",
                    primary = true,
                    dialog = new
                    {
                        title = "新增",
                        body = new
                        {
                            type = "form",
                            name = "sample-edit-form",
                            api = "post:https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample",
                            body = new object[]
                            {
                                new
                                {
                                    type = "input-text",
                                    name = "engine",
                                    label = "Engine",
                                    required = true
                                },
                                new
                                {
                                    type = "divider"
                                },
                                new
                                {
                                    type = "input-text",
                                    name = "browser",
                                    label = "Browser",
                                    required = true
                                },
                                new
                                {
                                    type = "divider"
                                },
                                new
                                {
                                    type = "input-text",
                                    name = "platform",
                                    label = "Platform(s)",
                                    required = true
                                },
                                new
                                {
                                    type = "divider"
                                },
                                new
                                {
                                    type = "input-text",
                                    name = "version",
                                    label = "Engine version"
                                },
                                new
                                {
                                    type = "divider"
                                },
                                new
                                {
                                    type = "input-text",
                                    name = "grade",
                                    label = "CSS grade"
                                }
                            }
                        }
                    }
                }
            },
            body = new
            {
                type = "crud",
                syncLocation=false,
                draggable = true,
                api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample",
                perPage = 50,
                keepItemSelectionOnPageChange = true,
                maxKeepItemSelectionLength = 11,
                autoFillHeight = true,
                labelTpl = "${id} ${engine}",
                autoGenerateFilter = true,
                bulkActions = new object[]
                {
                    new
                    {
                        label = "批量删除",
                        actionType = "ajax",
                        api = "delete:https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/${ids|raw}",
                        confirmText = "确定要批量删除?"
                    },
                    new
                    {
                        label = "批量修改",
                        actionType = "dialog",
                        dialog = new
                        {
                            title = "批量编辑",
                            name = "sample-bulk-edit",
                            body = new
                            {
                                type = "form",
                                api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/bulkUpdate2",
                                body = new object[]
                                {
                                    new
                                    {
                                        type = "hidden",
                                        name = "ids"
                                    },
                                    new
                                    {
                                        type = "input-text",
                                        name = "engine",
                                        label = "Engine"
                                    }
                                }
                            }
                        }
                    }
                },
                quickSaveApi = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/bulkUpdate",
                quickSaveItemApi = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id",
                filterTogglable = true,
                headerToolbar = new object[]
                {
                    "bulkActions",
                    new
                    {
                        type = "tpl",
                        tpl = "定制内容示例：当前有 ${count} 条数据。",
                        className = "v-middle"
                    },
                    new
                    {
                        type = "link",
                        href = "https://www.baidu.com",
                        body = "百度一下",
                        htmlTarget = "_parent",
                        className = "v-middle"
                    },
                    new
                    {
                        type = "columns-toggler",
                        align = "right"
                    },
                    new
                    {
                        type = "drag-toggler",
                        align = "right"
                    },
                    new
                    {
                        type = "pagination",
                        align = "right"
                    }
                },
                footerToolbar = new object[]
                {
                    "statistics",
                    new
                    {
                        type = "pagination",
                        layout = "perPage,pager,go"
                    }
                },
                columns = new object[]
                {
                    new
                    {
                        name = "id",
                        label = "ID",
                        searchable = new
                        {
                            type = "input-text",
                            name = "id",
                            label = "主键",
                            placeholder = "输入id"
                        },

                        // fixed = "left"
                    },
                    new
                    {
                        name = "engine",
                        label = "Rendering engine",
                        // fixed = "left",
                        searchable = true
                    },
                    new
                    {
                        name = "browser",
                        label = "Browser",
                        width = 500,
                        searchable = new
                        {
                            type = "select",
                            name = "browser",
                            label = "浏览器",
                            placeholder = "选择浏览器",
                            options = new object[]
                            {
                                new
                                {
                                    label = "Internet Explorer ",
                                    value = "ie"
                                },
                                new
                                {
                                    label = "AOL browser",
                                    value = "aol"
                                },
                                new
                                {
                                    label = "Firefox",
                                    value = "firefox"
                                }
                            }
                        }
                    },
                    new
                    {
                        name = "platform",
                        label = "Platform(s)",
                        width = 500
                    },
                    new
                    {
                        name = "version",
                        label = "Engine version",
                        searchable = new
                        {
                            type = "input-number",
                            name = "version",
                            label = "版本号",
                            placeholder = "输入版本号",
                            mode = "horizontal"
                        }
                    },
                    new
                    {
                        name = "grade",
                        label = "CSS grade"
                    },
                    new
                    {
                        type = "operation",
                        label = "操作",
                        width = 100,
                        buttons = new object[]
                        {
                            new
                            {
                                type = "button",
                                icon = "fa fa-eye",
                                actionType = "dialog",
                                tooltip = "查看",
                                dialog = new
                                {
                                    title = "查看",
                                    body = new
                                    {
                                        type = "form",
                                        body = new object[]
                                        {
                                            new
                                            {
                                                type = "static",
                                                name = "engine",
                                                label = "Engine"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "browser",
                                                label = "Browser"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "platform",
                                                label = "Platform(s)"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "version",
                                                label = "Engine version"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "static",
                                                name = "grade",
                                                label = "CSS grade"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "html",
                                                html = "<p>添加其他 <span>Html 片段</span> 需要支持变量替换（todo）.</p>"
                                            }
                                        }
                                    }
                                }
                            },
                            new
                            {
                                type = "button",
                                icon = "fa fa-pencil",
                                tooltip = "编辑",
                                actionType = "drawer",
                                drawer = new
                                {
                                    position = "left",
                                    size = "lg",
                                    title = "编辑",
                                    body = new
                                    {
                                        type = "form",
                                        name = "sample-edit-form",
                                        api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id",
                                        body = new object[]
                                        {
                                            new
                                            {
                                                type = "input-text",
                                                name = "engine",
                                                label = "Engine",
                                                required = true
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "input-text",
                                                name = "browser",
                                                label = "Browser",
                                                required = true
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "input-text",
                                                name = "platform",
                                                label = "Platform(s)",
                                                required = true
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "input-text",
                                                name = "version",
                                                label = "Engine version"
                                            },
                                            new
                                            {
                                                type = "divider"
                                            },
                                            new
                                            {
                                                type = "select",
                                                name = "grade",
                                                label = "CSS grade",
                                                options = new object[] { "A", "B", "C", "D", "X" }
                                            }
                                        }
                                    }
                                }
                            },
                            new
                            {
                                type = "button",
                                icon = "fa fa-times text-danger",
                                actionType = "ajax",
                                tooltip = "删除",
                                confirmText = "您确认要删除?",
                                api = "delete:https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id"
                            }
                        },
                        toggled = true
                    }
                }
            }
        };
        return data;
    }

}
