@page "/CRUD/Test"
<PageTitle>Demo</PageTitle>
<Amis Data="GetObj()"></Amis>

@code {

    private object GetObj()
    {
        var data = new
        {
            title = "Test 信息：${page}",
            body = new
            {
                type = "crud",
                api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample",
                syncLocation = false,
                columns = new object[]
                {
                    new
                    {
                        name = "id",
                        label = "ID",
                        width = 20
                    },
                    new
                    {
                        name = "engine",
                        label = "Rendering engine",
                        sortable = true
                    },
                    new
                    {
                        name = "grade",
                        type = "map",
                        label = "Rendering engine",
                        map = new
                        {
                            A = "<span class='label label-info'>A</span>",
                            B = "<span class='label label-success'>B</span>",
                            C = "<span class='label label-primary'>C</span>",
                            X = "<span class='label label-danger'>X</span>",
                            _ = "Unkown"
                        }
                    },
                    new
                    {
                        type = "operation",
                        label = "操作",
                        width = 200,
                        buttons = new object[]
                        {
                            new
                            {
                                type = "button-group",
                                buttons = new object[]
                                {
                                    new
                                    {
                                        type = "button",
                                        label = "查看",
                                        actionType = "dialog",
                                        dialog = new
                                        {
                                            disabled = true,
                                            body = new
                                            {
                                                type = "form",
                                                body = new object[]
                                                {
                                                    new
                                                    {
                                                        name = "engine",
                                                        label = "Rendering engine",
                                                        type = "static"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    new
                                    {
                                        type = "button",
                                        label = "编辑",
                                        actionType = "dialog",
                                        dialog = new
                                        {
                                            body = new
                                            {
                                                api = "https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id",
                                                type = "form",
                                                body = new object[]
                                                {
                                                    new
                                                    {
                                                        name = "engine",
                                                        label = "Rendering engine",
                                                        type = "text"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    new
                                    {
                                        type = "button",
                                        label = "删除",
                                        level = "danger",
                                        actionType = "ajax",
                                        confirmText = "确定？",
                                        api = "delete:https://3xsw4ap8wah59.cfc-execute.bj.baidubce.com/api/amis-mock/sample/$id"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        };
        return data;
    }

}
