@page "/AmisDemo"
<Amis Data="GetObj2()"></Amis>
<div id="main" style="width: 600px;height:400px;">
    <Amis Data="GetChart()"></Amis>
</div>


@code {

    private object GetObj2()
    {
        return new
        {
            type = "page",
            title = "Hello world",
            body = new object[]
            {
                new
                {
                    type = "tpl",
                    tpl = "初始页面",
                    wrapperComponent = "",
                    inline = false,
                },
                new
                {
                    type = "tabs",
                    tabs = new object[]
                    {
                        new
                        {
                            title = "选项卡1",
                            body = new object[]
                            {
                                new
                                {
                                    type = "tpl",
                                    tpl = "内容1",
                                    wrapperComponent = "",
                                    inline = false,
                                },
                                new
                                {
                                    type = "input-number",
                                    label = "数字",
                                    name = "number",
                                    keyboard = true,
                                },
                                new
                                {
                                    type = "input-tag",
                                    label = "标签",
                                    name = "tag",
                                    options = new[]
                                    {
                                        new { label = "红色", value = "red" },
                                        new { label = "绿色", value = "green" },
                                        new { label = "蓝色", value = "blue" }
                                    },
                                    optionsTip = "最近您使用的标签",
                                    value = "blue"
                                },
                                new
                                {
                                    type = "radios",
                                    label = "单选框",
                                    name = "radios",
                                    options = new[]
                                    {
                                        new { label = "选项A", value = "A" },
                                        new { label = "选项B", value = "B" }
                                    },
                                    required = true
                                },
                                new
                                {
                                    type = "input-text",
                                    label = "文本",
                                    name = "text",
                                }
                            },
                        },
                        new
                        {
                            title = "选项卡2",
                            body = new object[]
                            {
                                new
                                {
                                    type = "tpl",
                                    tpl = "内容2",
                                    wrapperComponent = "",
                                    inline = false,
                                },
                                new
                                {
                                    type = "button-toolbar",
                                    label = "按钮工具栏",
                                    buttons = new[]
                                    {
                                        new
                                        {
                                            type = "button",
                                            label = "按钮1",
                                            onEvent = new
                                            {
                                                click = new
                                                {
                                                    actions = new object[] { }
                                                }
                                            },
                                        },
                                        new
                                        {
                                            type = "button",
                                            label = "按钮2",
                                            onEvent = new
                                            {
                                                click = new
                                                {
                                                    actions = new object[] { }
                                                }
                                            },
                                        }
                                    },
                                },
                                new
                                {
                                    type = "icon",
                                    icon = "fa fa-snapchat",
                                    vendor = "",
                                }
                            },
                        }
                    },
                },
                new
                {
                    type = "button-toolbar",
                    className = "m-l-none",
                    buttons = new object[]
                    {
                        new
                        {
                            type = "button",
                            label = "sm 弹框",
                            actionType = "dialog",
                            dialog = new
                            {
                                size = "sm",
                                title = "提示",
                                body = "这是个简单的弹框"
                            }
                        },
                        new
                        {
                            type = "button",
                            label = "标准 弹框",
                            actionType = "dialog",
                            dialog = new
                            {
                                title = "提示",
                                body = "这是个简单的弹框"
                            }
                        },
                        new
                        {
                            type = "button",
                            label = "lg 弹框",
                            actionType = "dialog",
                            dialog = new
                            {
                                size = "lg",
                                title = "提示",
                                body = "这是个简单的弹框"
                            }
                        },
                        new
                        {
                            type = "button",
                            label = "xl 弹框",
                            actionType = "dialog",
                            dialog = new
                            {
                                size = "xl",
                                title = "提示",
                                body = "这是个简单的弹框"
                            }
                        },
                        new
                        {
                            type = "button",
                            label = "full 弹框",
                            actionType = "dialog",
                            dialog = new
                            {
                                size = "full",
                                title = "全屏弹框",
                                body = "弹框尽可能占满，内容部分滚动。"
                            }
                        }
                    }
                },
            },
        };
    }

    private object GetChart()
    {
        var pageConfig = new
        {
            type = "page",
            body = new
            {
                type = "chart",
                config = new
                {
                    title = new
                    {
                        text = "极坐标双数值轴"
                    },
                    legend = new
                    {
                        data = new[] { "line" }
                    },
                    polar = new
                    {
                        center = new[] { "50%", "54%" }
                    },
                    tooltip = new
                    {
                        trigger = "axis",
                        axisPointer = new
                        {
                            type = "cross"
                        }
                    },
                    angleAxis = new
                    {
                        type = "value",
                        startAngle = 0
                    },
                    radiusAxis = new
                    {
                        min = 0
                    },
                    series = new[]
                    {
                        new
                        {
                            coordinateSystem = "polar",
                            name = "line",
                            type = "line",
                            showSymbol = false,
                            data = new object[][]
                            {
                                new object[] { 0, 0 },
                                new object[] { 0.03487823687206265, 1 },
                                new object[] { 0.06958655048003272, 2 },
                                new object[] { 0.10395584540887964, 3 },
                                new object[] { 0.13781867790849958, 4 },
                                new object[] { 0.17101007166283433, 5 },
                                new object[] { 0.2033683215379001, 6 },
                                new object[] { 0.2347357813929454, 7 },
                                new object[] { 0.26495963211660245, 8 },
                                new object[] { 0.2938926261462365, 9 },
                                new object[] { 0.3213938048432697, 10 }
                            }
                        }
                    },
                    animationDuration = 2000
                },
                clickAction = new
                {
                    actionType = "dialog",
                    dialog = new
                    {
                        title = "详情",
                        body = new object[]
                        {
                            new
                            {
                                type = "tpl",
                                tpl = "<span>当前选中值 ${value|json}<span>"
                            },
                            new
                            {
                                type = "chart",
                                api = "/amis/api/mock2/chart/chart1"
                            }
                        }
                    }
                }
            }
        };
        return pageConfig;
    }

}
