@page "/Video"
<Amis Data="GetObj()"></Amis>

@code {

    private object GetObj()
    {
        var data = new
        {
            title = "视频播放器",
            body = new object[]
            {
                "<p class=\"text-danger\">另外还支持直播流， flv 和 hls 格式</p>",
                new
                {
                    type = "video",
                    autoPlay = true,
                    rates = new double[] { 1.0, 1.5, 2.0 },
                    jumpFrame = true,
                    jumpBufferDuration = 5,
                    frames = new Dictionary<string,string>()
                    {
                        { "00:10" , "https://internal-amis-res.cdn.bcebos.com/images/2019-12/1577157239810/da6376bf988c.png"},
                        { "00:20" , "https://internal-amis-res.cdn.bcebos.com/images/2019-12/1577157239810/da6376bf988c.png"},
                        { "00:30" , "https://internal-amis-res.cdn.bcebos.com/images/2019-12/1577157239810/da6376bf988c.png"},
                    },
                    src = "https://amis.bj.bcebos.com/amis/2019-12/1577157317579/trailer_hd.mp4",
                }
            }
        };
        return data;
    }

}
